

.wapper-user{
    position: relative;
    background-color: rgb(70, 63, 63);
    padding-bottom: 8px;
}
.img-wapper-user img{
    -webkit-filter: brightness(40%);  
    width: 100%;
    height: 800px;
}
.header-wapper1{
    display: block;
    z-index: 99;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
     
}
.wapper-content-header-login{
   padding-top: 45px; 
   /* padding-bottom: 1px; */
  background-color: rgb(0, 0, 0, 0.7);
  border: 1px solid white;
  width: 500px;
  padding-bottom: 100px;

  height: 50%;
  margin: 100px auto;
  text-align: center;
}
.wapper-content-header-login h1{
    padding-bottom: 25px;
    color: white;
}
.wapper-content-header-login from{
    line-height: 3.7;
}
.wapper-content-header-login input{
    border-radius: 7px;
    font-size: 18px;
    width: 70%;
    height: 50px;
}
.inp-text{
    background-color: #333;
    padding-left: 20px;
    color:white;
    border: 1px solid #333;
}
.inp-submit{
    border: 1px solid red;
    margin-top: 30px;
    background-color: rgb(224, 19, 19);
    color: white;
    cursor: pointer;
}
.loginfb-linkSignup{
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
.fab {
    font-size: 23px;
    color:#0080ff;
    padding-right: 10px;
}
.loginfb-linkSignup button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    font-size: 14px;
    color: rgb(110, 108, 108);
    /* border: 1px solid  rgb(0, 0, 0, 0.6); */
}
.link-Sigup{
    text-decoration: underline;
    color: white;
}
.title{
    color: rgb(110, 108, 108);
    padding-top: 20px;
    font-size: 17px;
}
.content{
    font-size: 14px;
    color:rgb(110, 108, 108);
    padding-top: 10px;
 
}







@media only screen and (max-width: 735px){
    .wapper-user{
        background-color: black;
        height: 100vh;
      border-bottom: 10px solid rgb(70, 63, 63);
       
    }
    .img-wapper-user{
        display:none;
    }
    .wapper-content-header-login{
        width: 80%;
        text-align: left;
    }
    .wapper-content-header-login input{
        width: 100%;
    }
    .inp-text{
        padding-left: 0;
    }
    .loginfb-linkSignup{
        width: 100%;
    }
}
