*{
    margin: 0;
    padding: 0;
}
.wapper{
 position: relative;
 background-color: rgb(70, 63, 63);
 padding-bottom: 10px;
}
.img-wapper{
   background-image: url('../Img/Backgroud/VN-vi-20210308-popsignuptwoweeks-perspective_alpha_website_large.jpg');
   background-size: cover;
   height: 800px;
   -webkit-filter: brightness(40%); 
}
.header-wapper{
    z-index: 999;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /* border: 1px solid red; */
}
.header-story{
    text-align: right;
    display: flex;
    margin: 0 auto;
    padding: 8px 0px 8px;
    width: 90%;
    /* border: 1px solid greenyellow; */
}
.header-story h2{
    text-align: left;
    color: red;
    font-size: 40px;
    /* border: 1px solid black; */
}
.header-right{
    padding: 5px 0px ;
    /* border: 1px solid red; */
    width: 100%;
}
.language{
    padding: 10px 0px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.language button{
    position: absolute;
}
.header-right button{
    font-size: 15px;
    margin-left:30px ;
    text-align: right;
    cursor: pointer; 
}
.header-right i{
    margin-right: 8px;
    padding-left: 5px;
}
.header-right span{
   padding-left: 5px;
}
.login{
    padding: 10px 15px;
    background-color:rgb(243, 41, 41);
    border: 1px solid rgb(243, 41, 41);
    color: white;
}
.wapper-content-header{
    margin: 200px auto;
    text-align: center;
    width: 900px;
    /* background-color: greenyellow; */
}
.wapper-content-header h1{
    padding-bottom: 10px;
    margin:0 auto ;
    width: 640px;
    color: white;
    font-size: 50px;
}
.wapper-content-header h2{
    padding-bottom: 30px;
    margin:0 auto ;
    width: 640px;
    color: white;
    font-size: 26px;
}
.wapper-content-header h3{
    padding-bottom: 20px;
    margin:0 auto ;
    width: 898.11px;
    color: white;
    font-size: 18px;
}
.wapper-content-header input{
    font-size: 16px;
    padding-left: 10px;
    width :450px;
    height: 60px;
}
.wapper-content-header button{
    /* padding: 10px; */
    cursor: pointer;
    height: 60px;
    width :150px;
  background-color: red;
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}




